.actuateViewerContainer .navbar {
    width: 99% !important;
    margin:5px !important;
    border: 1px solid #dddddd !important;
    border-radius: 0px;    
}
.actuateViewerContainer .navbar_bottomline {
    height: 0px;
}